.DS_Store
node_modules/
dist/

# Absolutely spamming .env ignores
.env
.env.local
.env.*.local
.env.production
.env.development
.env.test
.env.test.local
.env.test.*.local
.env.test.production
.env.test.development
.env.test.development.local
.env.test.development.production

# Supabase
supabase/.temp
supabase/scripts
